.ion-ios-discoveryicon, .ion-md-discoveryicon {
  content: url(../assets/imgs/discovery_hover.svg);
  width: 30px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}
.ion-ios-batchesicon, .ion-md-batchesicon {
  content: url(../assets/imgs/batches_hover.svg);
  width: 30px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}
.ion-ios-listsicon, .ion-md-listsicon {
  content: url(../assets/imgs/list_hover.svg);
  width: 30px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}
